deny unknown-clients;
option dhcp-max-message-size 2048; 
use-host-decl-names on;

subnet {{ bootstrapper_ip | ansible.utils.ipcut(8) }} netmask 255.255.255.0 {
    option routers {{ bootstrapper_ip }};
    option domain-name "{{ homelab_domain_name }}";
    option domain-name-servers 1.1.1.1;
    option time-servers {{ bootstrapper_ip }};
    option ntp-servers {{ bootstrapper_ip }};
    server-name {{ bootstrapper_hostname }};
    next-server {{ bootstrapper_hostname }};
    filename "pxelinux.0";
}
