deny unknown-clients;
option dhcp-max-message-size 2048; 
use-host-decl-names on;

subnet {{ bootstrapper_ip | ansible.utils.ipaddr('network') }} netmask {{ bootstrapper_ip | ansible.utils.ipaddr('netmask') }} {
    option routers {{ bootstrapper_ip }};
    option domain-name "{{ homelab_domain_name }}";
    option domain-name-servers 1.1.1.1;
    option time-servers {{ bootstrapper_ip }};
    option ntp-servers {{ bootstrapper_ip }};
    server-name {{ bootstrapper_hostname }};
    next-server {{ bootstrapper_hostname }};
    filename "pxelinux.0";
}
