FAI_DEBOOTSTRAP="bookworm http://http.debian.net/debian"
FAI_ROOTPW="{{ root_password_hash }}"
SERVERINTERFACE="{{ bootstrapper_mgmt_interface }}"
NFSROOT=/srv/fai/nfsroot
TFTPROOT=/srv/tftp/fai
NFSROOT_HOOKS=/etc/fai/nfsroot-hooks/
FAI_DEBOOTSTRAP_OPTS="--exclude=info"
FAI_CONFIGDIR=/srv/fai/config
