deb http://{{ bootstrapper_ip }}/debmirror/debian buster main contrib non-free
deb http://{{ bootstrapper_ip }}/debmirror/debian-security buster/updates main contrib non-free

# PVE repository provided by proxmox.com, only for installation (this repo will stay on 3.1)
deb http://download.proxmox.com/debian buster pve

# Security Updates
deb http://security.debian.org/ buster/updates main contrib
