deny unknown-clients;
option dhcp-max-message-size 2048; 
use-host-decl-names on;

subnet 192.168.0.0 netmask 255.255.255.0 {
    option routers 192.168.0.10;
    option domain-name "homelabinabox.net";
    option domain-name-servers 1.1.1.1;
    option time-servers 192.168.0.10;
    option ntp-servers 192.168.0.10;
    server-name bootstrapper;
    next-server bootstrapper;
    filename "pxelinux.0";
}

host {{ pve_hostname }} {
    hardware ethernet {{ pve_mac_address }};
    fixed-address {{ pve_ip_address }};
}
